@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  -webkit-text-size-adjust: 100%;
}

body {
  background-color: #f8fafc;
}

/* Mobile input zoom fix */
@media (max-width: 768px) {
  input,
  select,
  textarea {
    font-size: 16px !important;
    line-height: 1.25rem;
  }
}

.leaflet-container {
  height: 100%;
  width: 100%;
  z-index: 0;
}

.leaflet-tile-container {
  pointer-events: auto;
}

@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}